<div class="search-form mt-4" >
    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input">Nhập từ khóa</label>
            <input type="text" name="q" class="form-control" id="search-input" >
        </div>
        <div class="form-group">
            <label for="gender-input">Giới tính</label>
            <select name="gender" id="gender-Input" class="form-control">
                <option value="">--Chọn giới tính--</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>